LLM_PROVIDER=mistral OR openrouter OR groq

OPENROUTER_API_KEY=your-api-key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=some-free-model

MISTRAL_API_KEY=your-mistral-api-key
MISTRAL_MODEL=mistral-small-latest

GROQ_API_KEY=your-groq-api-key
GROQ_MODEL=groq/compound
GROQ_BASE_URL=https://api.groq.com/openai/v1